.discuss-project {
  background-color: $discussProjectBG;
  padding: 40px 20px;
  position: relative;

  &__phone-wrapper .imge {
    position: absolute;
    top: 263px;
    left: 236px;
    @media screen and (max-width: 1586px) {
      left: 163px;
    }

    @media screen and (max-width: 1440px) {
      left: 130px;
    }

    @media screen and (max-width: 1300px) {
      left: 100px;
    }

    @media screen and (max-width: 1200px) {
      left: 29px;
      width: 25%;
    }
  }

  &__sphere-wrapper .imge {
    position: absolute;
    top: 289px;
    right: 405px;

    @media screen and (max-width: 1586px) {
      right: 180px;
      width: 14%;
    }

    @media screen and (max-width: 1200px) {
      right: 110px;
      width: 14%;
    }
  }

  // &__content-wrapper {
  //   display: flex;
  //   flex-direction: column;
  // }

  &__sphere-wrapper .imge,
  &__phone-wrapper .imge {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &__postpaid-wrapper .imge {
    @media screen and (min-width: 992px) {
      display: none;
    }

    margin: 0 auto;
  }

  &__title {
    margin-bottom: 25px;
    padding-top: 130px;

    @media screen and (max-width: 992px) {
      padding-top: 30px;
    }

    @media screen and (max-width: 480px) {
      padding-top: 0;
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 30px;
    width: 470px;
    margin: 0 auto;
    margin-bottom: 25px;

    @media screen and (max-width: 480px) {
      width: 325px;
      font-size: 16px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-grup:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &__form-grup:last-of-type {
    margin-bottom: 30px;
  }

  &__input {
    width: 470px;

    @media screen and (max-width: 480px) {
      width: 335px;
    }

    padding: 17px 14px;
    border: 1px solid $borderColor;
    border-radius: 5px;

    &.error {
      border: 2px solid $error;
    }
  }

  &__input::placeholder {
    font-size: 16px;
  }

  &__button {
    width: 270px;
    height: 60px;
    cursor: pointer;
    margin-bottom: 90px;

    @media screen and (max-width: 992px) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 480px) {
      width: 325px;
    }

    &:hover {
      border: 2px solid $malibu;
      color: $malibu;
      background-color: $waht;
    }
  }
}
