.examples-store {
  background-color: $examplesEtoreBG;
  min-height: 550px;
  padding: 120px 20px;
  position: relative;

  &__flip-box-mob {
    @media screen and (min-width: 481px) {
      display: none;
    }
  }

  &__flip-box {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 40px 20px;
  }

  & .imge {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__img-wrapper-wave {
    position: absolute;
    top: 300px;
    left: 25px;

    @media screen and (max-width: 1625px) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 100px;

    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 480px) {
      font-size: 26px;
    }
  }

  &__flip-card-wrapper {
    margin-bottom: 40px;
  }

  &__flip-card {
    height: 447px;
    max-width: 563px;
    perspective: 1000px;
    background-color: transparent;
    display: block;

    @media screen and (max-width: 992px) {
      margin: 0 auto;
    }

    &:hover .examples-store__flip-card-inner {
      transform: rotateY(180deg);
    }
  }

  &__flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
  }

  &__flip-card-front,
  &__flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
  }

  &__flip-card-front img {
    border-radius: 15px;
    width: 100%;
  }

  &__flip-card-back {
    background-color: $malibu;
    color: $waht;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h5 {
      font-size: 21px;
      font-weight: 700;
    }
  }

  &__img-wrapper-sphere {
    position: absolute;
    bottom: 245px;
    right: 122px;

    @media screen and (max-width: 1625px) {
      display: none;
    }

    & img {
      width: 108px;
    }
  }

  & .slick-arrow.slick-next,
  .slick-arrow.slick-prev {
    position: absolute;
    bottom: -142px;
    font-size: 0;
    width: 60px;
    height: 60px;
    border: 0;
    cursor: pointer;

    @media screen and (max-width: 480px) {
      bottom: -52px;
    }
  }

  & .slick-arrow.slick-prev {
    background: url(../image/nextArrow.svg);
    left: 52%;

    @media screen and (max-width: 480px) {
      left: 63%;
    }
  }

  & .slick-arrow.slick-next {
    background: url(../image/prevArrow.svg);
    left: 39%;

    @media screen and (max-width: 480px) {
      left: 20%;
    }

    @media screen and (max-width: 400px) {
      left: 17%;
    }
  }

  & .slick-arrow.slick-next:hover {
    background: url(../image/nextArrowActive.svg);
    width: 60px;
    height: 60px;
  }

  & .slick-arrow.slick-prev:hover {
    background: url(../image/prevArrowActive.svg);
    width: 60px;
    height: 60px;
  }
}

.flip-box-mob {
  &__item-wrapper {
    padding: 10px;
  }

  &__img-wrapper {
    width: 100%;
    height: 260px;
    margin: 0 auto 15px;

    @media screen and (max-width: 380px) {
      width: 242px;
      height: 240px;
    }
  }

  &__card-title {
    background-color: $malibu;
    color: $waht;
    width: 335px;
    height: 260px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto 15px;

    @media screen and (max-width: 420px) {
      width: 300px;
    }

    @media screen and (max-width: 380px) {
      width: 242px;
      height: 240px;
    }

    & h5 {
      font-size: 21px;
      font-weight: 700;
    }
  }
}
