@mixin fontFace(
  $fontFamily,
  $fontPath,
  $fontStyle: normal,
  $fontWeight: normal
) {
  @font-face {
    font-family: $fontFamily;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    src: url("#{$fontPath}.ttf") format("ttf");
    // src: url("#{$fontPath}.woff") format("woff");
  }
}
