.service-design {
  min-height: 550px;
  background-color: $serviceDesignBG;
  padding: 120px 20px;
  position: relative;

  @media (max-width: 768px) {
    padding: 60px 20px;
  }

  @media (max-width: 576px) {
    padding: 20px;
  }

  &__title {
    margin-bottom: 100px;

    @media (max-width: 768px) {
      margin-bottom: 40px;
      font-size: 26px;
    }

    @media (max-width: 576px) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 28px;
    }
  }
  &__img-wrapper {
    display: inline-block;
    position: absolute;
    right: 10%;
    bottom: 15%;
    @media (max-width: 1690px) {
      right: 8%;
      bottom: 5%;
    }

    @media (max-width: 768px) {
      fright: 5%;
      bottom: 2%;
    }

    @media (max-width: 576px) {
      display: none;
    }

    & img {
      @media (max-width: 1830px) {
        width: 90px;
      }

      @media (max-width: 768px) {
        width: 70px;
      }
    }
  }
}

.accordion-spoiler {
  width: 100%;

  &__item {
    background-color: $waht;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  &__item-active .accordion-spoiler__title::before {
    background-color: $accordeonBGActive;
  }

  &__item-active .accordion-spoiler__title::after {
    transform: rotate(135deg);
  }

  &__title {
    color: $accordionColor;
    padding: 15px 20px 15px 96px;
    position: relative;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 576px) {
      padding: 15px 50px 15px 40px;
    }

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      border-radius: 50%;
      position: absolute;
      background-color: $buttonBGColor;
      top: 14px;
      left: 40px;

      @media (max-width: 576px) {
        width: 15px;
        height: 15px;
        top: 19px;
        left: 14px;
      }
    }
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      border-left: 1px solid $arrowColor;
      border-bottom: 1px solid $arrowColor;
      top: 18px;
      right: 40px;
      transform: rotate(-45deg);
      transition: all 0.3s ease-out;
    }
  }

  &__text {
    padding: 15px 69px 54px 96px;
    display: none;

    @media (max-width: 480px) {
      padding: 15px 31px 47px 50px;
      font-size: 16px;
    }
  }

  &__text p {
    position: relative;
  }
  p::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: $arrowColor;
    top: 0px;
    left: -44px;

    @media (max-width: 480px) {
      left: -29px;
    }
  }
}

.accordion-spoiler__item-active .accordion-spoiler__text {
  display: block;
}
