$defaultFont: "Montserrat";

$defaultPath: "../fonts/Montserrat-Regular";
$defaultPath600: "../fonts/Montserrat-SemiBold";
$defaultPath700: "../fonts/Montserrat-Bold";
$defaultPath800: "../fonts/Montserrat-ExtraBold";
$defaultPath900: "../fonts/Montserrat-Black";

$follbak: Arial, Helvetica, sans-serif;

$defaultFonts: $defaultFont, $follbak;
$defaultFontSize: 18px;

// цвета
$waht: #fff;
$black: #000;
$malibu: #67aefc;
$codGray: #111111;
$pastelGree: #75e169;
$tundora: #484848;
$pattensBlue: #daecff;
$red: red;

$textColor: $black;
$textColorSecondary: $codGray;
$buttonBGColor: $pastelGree;
$accordeonBGActive: $malibu;
$buttonColor: $waht;
$error: $red;

$serviceDesignBG: $pattensBlue;
$examplesEtoreBG: $pattensBlue;
$discussProjectBG: $pattensBlue;
$stagesDevelopmentBG: $waht;
$accordionColor: $codGray;
$arrowColor: $black;
$borderColor: $malibu;
